*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: #dcdcdc;
}

button {
  background-color: blueviolet;
  border: none;
  width: max-content; 
  cursor: pointer;
}